# Environnements virtuels
venv/
env/
.venv/

# Variables d'environnement
.env
*.key

# Cache Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db

# Captures réseau binaires
*.pcap